**/.ipynb_checkpoints
**/__pycache__
data/
*.json
*.params
*.DS_Store
*.Rhistory
*.csv
build/README.md
build/environment.yml
*egg-info*
dist/*
build/chapter*
build/_build
build/img
build/data
build/d2l
/chapter_attention-mechanisms-and-transformers/fra-eng.zip
/chapter_recurrent-neural-networks/fra-eng.zip
img/*.pdf
aclImdb*
/_build/
graffle/*/*.svg
graffle/*/*.pdf
build/
/chapter_builders-guide/mydict
/chapter_builders-guide/x-file
/chapter_builders-guide/x-files
.idea
.vscode
.pytest_cache
static/latex_style/PT1*
/chapter_hyperparameter_optimization/std.out
