**/.ipynb_checkpoints
**/__pycache__
data/
*.json
*.params
*.DS_Store
*.csv
build/README.md
build/environment.yml
/chapter_gluon-basics/x
/chapter_gluon-basics/xy
/chapter_gluon-basics/mydict
*egg-info*
dist*
build/chapter*
build/_build
build/img
build/data
build/d2l
/chapter_attention-mechanism/fra-eng.zip
/chapter_recurrent-neural-networks/fra-eng.zip
img/*.pdf
aclImdb*
/_build/
graffle/*/*.svg
graffle/*/*.pdf
build/
.idea
