**/.ipynb_checkpoints
**/__pycache__
data/
*.json
*.params
*.DS_Store
*.csv
/chapter_gluon-basics/x
/chapter_gluon-basics/xy
/chapter_gluon-basics/mydict
*egg-info*
dist*
build/chapter*
build/_build
build/img
build/data
